<h1>{{Template}} Module</h1>

<p>This is the Cleverstack example module!</p>

<p>There are a couple of things to do to make a module:</p>

<ol>
  <li>
    <h4>Write a module.js</h4>
    <p>This is saved in the root of your module folder where you'll instantiate and configure your angular module.</p>
  </li>
  <li>
    <h4>Write a main.js</h4>
    <p>This is a require.js main.js file used to list the javascript files used by your module; it's stored in the root of your module folder with the module.js file.</p>
  </li>
  <li>
    <h4>Add your module as a package to the modules/main.js file</h4>
    <p>In the modules/main.js file add your module's foldername to the packages array to allow other modules to use it.</p>
  </li>
  <li>
    <h4>Add your module to your application module's main.js and module.js</h4>
    <p>Before your new module can be used you'll need to add it to your application module's main.js and module.js.</p>
  </li>
</ol>

<p>Aside from the main.js and module.js files, you can organise your module's files any way you like as long as you keep your module.js and main.js files up-to-date with their location and of course.</p>
